{% extends 'base.html' %} {% block content %} {% load widget_tweaks %} {% load static %}
    <style>
    body,html{
    background-image: url('{% static "images/bgbanner.jpeg"%}');    margin: 0;
    padding: 0;
    background-size: cover;
    }
    .errorlist
    {
    color:#EF5350;
    font-weight: bold;
    }
    </style>
    <div class="container">
        {% if form.errors.password2 or form.errors.username %}
            <div class="signup-form">
                <h1>Sign up</h1>
                
                <form method="post">
                    {% csrf_token %}
                    <p>
                        <div class="row"> <div class="form-group ">
                            <div class="col-md-12">
                                <label>username</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                        {{ form.username |add_class:"form-control" }}</div>
                        <div class="col-md-6">{% if form.errors.username %}
                            <div class="alert alert-danger"> <strong>{{ form.errors.username|escape }}</strong></div>
                        {% endif %} </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>password</label> {{ form.password1 |add_class:"form-control" }}</div>
                            <div class="col-md-6">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <label>confirm password</label>
                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                            {{ form.password2 |add_class:"form-control" }} </div>
                            <div class="col-md-6">
                                {% if form.errors.password2 %}
                                    <p style="color: #EF5350;font-weight: bold;" class="errorlist">{{ form.errors.password2 }}</p>
                                    <!-- <div class=""\r\nDEFINES += " "\r\nDEFINES += "-danger"> <strong>{{ form.errors.password2|escape }}</strong></div> -->
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            
                            
                        </div>
                        
                    </p>
                    <br>
                    <button type="submit" class="log-btn">Sign up</button>
                    
                </form></div>
            {% else %}
                <div class="signup-form" style="width:30%" >
                    <h1>Sign up</h1>
                    <form method="post">
                        {% csrf_token %}
                        
                        <p>
                            <div class="row"> <div class="form-group ">
                                <div class="col-md-12">
                                    <label>username</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                            {{ form.username |add_class:"form-control" }}</div>
                            
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <label>password</label> {{ form.password1 |add_class:"form-control" }}</div>
                                <div class="col-md-6">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>confirm password</label>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                {{ form.password2 |add_class:"form-control" }} </div>
                                
                            </div>
                            
                            
                        </p>
                        
                        <br>
                        <button type="submit" class="log-btn">Sign up</button>
                        
                    </form></div>
                {% endif %}
            </div>
        {% endblock %}