{% extends 'base2.html' %}{% block content %}{% load static %}

<!-- <div class="agileits_header">
    <div class="container"> -->
<!--  <div class="w3l_offers">
                <p>SMART <a>MUSHROOM</a> BOX</p>
            </div> -->
<!--         <div class="agile-login">
            <ul>
                <li><a href="#" style="color: #fe9126;"> Create Account </a></li>
                <li style="background-color: #ff6404"><a  href="#" style="color: #fff;">Login</a></li>
                <li><a href="#" style="color: #4f4f4f;">Help</a></li>
            </ul>
        </div>

    </div>
</div> -->

<div class="bghead ">
    <br>
    <br>
    <br>
    <h2 style="text-align: center; color: white;">SMART MUSHROOM BOX</h2>
    <br>
    <br>
    <br>
</div>
<div class="navigation">
    <nav class="navbar navbar-theme">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                    <span class="sr-only">Menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Shortcode</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Media</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>
<div class="item container">
    <div class="slider">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-8">
                    <div class="slider small-slider">
                        <div id="small-featured" class="carousel slide" data-ride="carousel">
                            <!-- <ol class="carousel-indicators">
                                    <li data-target="#small-featured" data-slide-to="0" class="active"></li>
                                </ol> -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active" style="background-image:url('{% static "images/mushroom2.psng"%}')">
                                    <!-- <img style="width: 50%;  display: block;
    margin: 0 auto; " src="{% static "images/mushroom2.png"%}"> -->
                                    <hr style="width: 80%">
                                    <div class="carousel-caption">
                                        <h3>กล่องเห็ด </h3>
                                        <p>status : xxxx</p>
                                        <p>temperature : xxx</p>
                                        <!-- <a href="" class="btn btn-theme">Shop Now</a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-description text-center">
                         <p class="status good">Good </p>
                          
                            <!-- <p class="price">$ 55.00</p> -->
                        </div>
                    </div>
                </div>
                 <div class="col-md-5 col-sm-8">
                    <div class="slider small-slider">
                        <div id="small-featured" class="carousel slide" data-ride="carousel">
                            <!-- <ol class="carousel-indicators">
                                    <li data-target="#small-featured" data-slide-to="0" class="active"></li>
                                </ol> -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active" style="background-image:url('images/slider-small-1.jpg')">
                             <!--        <img style="width: 50%;  display: block;
    margin: 0 auto; " src="{% static "images/mushroom2.png"%}"> -->
                                    <hr style="width: 80%">
                                    <div class="carousel-caption">
                                        <h3>กล่องเห็ด </h3>
                                        <p>status : xxxx</p>
                                        <p>temperature : xxx</p>
                                        <!-- <a href="" class="btn btn-theme">Shop Now</a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-description text-center">
                              <p class="status warning">Warning </p>
                            <!-- <p class="price">$ 55.00</p> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                  <div class="col-md-5 col-sm-8">
                    <div class="slider small-slider">
                        <div id="small-featured" class="carousel slide" data-ride="carousel">
                            <!-- <ol class="carousel-indicators">
                                    <li data-target="#small-featured" data-slide-to="0" class="active"></li>
                                </ol> -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active" style="background-image:url('images/slider-small-1.jpg')">
                             <!--        <img style="width: 50%;  display: block;
    margin: 0 auto; " src="{% static "images/mushroom2.png"%}"> -->
                                    <hr style="width: 80%">
                                    <div class="carousel-caption">
                                        <h3>กล่องเห็ด </h3>
                                        <p>status : xxxx</p>
                                        <p>temperature : xxx</p>
                                        <!-- <a href="" class="btn btn-theme">Shop Now</a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-description text-center">
                              <p class="status problem">Problem </p>
                            <!-- <p class="price">$ 55.00</p> -->
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
    </div>
</div>
<div class="featured-items">
    <div class="item container">
        <div class="row">
            <div class="tab-content">
                <div class="tab-pane active" id="trending">
                    <div class="col-md-6 col-sm-8">
                        <div class="single-product">
                            <div class="product-block">
                               <img style="width: 50%;  display: block;
    margin: 0 auto; " src="{% static "images/mushroom2.png"%}" class="thumpnail"> 
                                <hr style="width: 80%">
                                <div class="container">
                                    <p>status : xxxx</p>
                                    <p>temperature : xxx</p>
                                </div>
                                <div class="product-description text-center">
                                    <p class="price">Good </p>
                                    <!-- <p class="price">$ 55.00</p> -->
                                </div>
                                <div class="product-hover">
                                    <ul>
                                        <li><a href=""><i class="fa fa-cart-arrow-down"></i></a></li>
                                        <li><a href=""><i class="fa fa-arrows-h"></i></a></li>
                                        <li><a href=""><i class="fa fa-heart-o"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}