{% extends 'base2.html' %} {% load static %} {% block content %}{% load widget_tweaks %}

  



<form method="post">
    {% csrf_token %}
    <div class="login-form">
        <h1>Mushroom Box</h1>
        <!--  -->
        <input type="hidden" name="next" value="{{ next }}" />
        <p>
            <div class="form-group ">
                {{form.username |add_class:"form-control"}}
                <i class="fa fa-user"></i>
            </div>
              <div class="form-group ">
                {{form.password |add_class:"form-control" }}
                <i class="fa fa-lock"></i>
            </div>
            {% if form.errors %}
         
            <p style="color: #EF5350;font-weight: bold;">Your username and password didn't match. Please try again.</p>
        
          
            {% endif %}
        </p>
        <button type="submit" class="log-btn">Log in</button>
      <br><br>
        <a style="color: #D6DADC" href="{% url 'signup' %}">New to My Site? Sign up</a>
    </div>
</form>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}
