{% extends 'base2.html' %} {% load static %} {% block content %}{% load widget_tweaks %}
    
    <!--
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="textInput" style="white-space:nowrap;">
            <label>Name: </label> {{ dog.name }}
        </div>
        <div id="textInput" style="white-space:nowrap;margin-bottom: 15px">
            <label>Weight: </label>
        {{ dog.weight }} {% for x in dog.choices %} {{x}} {% endfor %}
    </div>
    <div id="textInput" style="white-space:nowrap;">
        <label>Allergic: </label>{{ dog.allergic }}
    </div>
    <div style="white-space:nowrap;">
        {{ dog.picDog }} <label for="imgInp" class="custom-file-upload">
            <i class="fa fa-cloud-upload"></i> Select Picture
        </label>
    </div>
    <br>
    <center>
    <input style="width: 100%" type="submit" value="Submit" />
    </center>
</form> -->
<form method="post">
    {% csrf_token %}
    <div class="login-form">
        <h1>Mushroom Box</h1>
        <!--  -->
        <input type="hidden" name="next" value="{{ next }}" />
        <p>
            <div class="form-group ">
                {{boxform.name}}
            </div>
            <div class="form-group ">
                   {{ boxform.profile }} {% for x in boxform.choices %} {{x}} {% endfor %}
              
            </div>
      
        </p>
        <button type="submit" class="log-btn">Create box</button>
        <br><br>
        
    </div>
</form>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}