{% extends 'base2.html' %} {% load static %} {% block content %}{% load widget_tweaks %}
<div class="navigation">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header nav_2">
                <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                <ul class="nav navbar-nav">
                    <li><a href="index.html" class="act">Home</a></li>
                    <li><a href="about.html">My Box</a></li>
                    <li class="active"><a href="short-codes.html">Add Box</a></li>
                    <li><a href="mail.html">Product</a></li>
                    <li><a href="mail.html">Contact</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<div class="bghead ">
    <br>
    <!-- <h2 style="" class="thai_font-title">ก ล่ อ ง เ ห็ ด อั จ ฉ ริ ย ะ</h2> -->
    <h2 style="letter-spacing: 30px;" class="thai_font-title">กล่องเห็ดอัจฉริยะ</h2>
    <h3 style="text-align: center; color: white;" class="thai_font">เพิ่มกล่องเห็ดของคุณ</h3>
    <br>
</div>
</header>
<div class="uk-background-muted">
    <br>
    <div class="container uk-width-1-1@s uk-width-1-2@m uk-width-1-2@l ">
        <div class="uk-card uk-card-default">
            <div class="uk-container">
                <br>
                <ul class="uk-breadcrumb">
                    <li class="uk-disabled"><a href="#">auth</a></li>
                    <li><span href="#">Select profile</span></li>
                </ul>
                <form class="uk-form-stacked" method="post">
                    {% csrf_token %}
                    <div class="uk-margin">
                        <label class="uk-form-label thai_font" for="form-stacked-text">ตั้งชื่อกล่องเห็ดของคุณ</label>
                        <div class="uk-form-controls">
                            {{boxform.name}}
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-select">Select</label>
                        <div>
                            <ul class="uk-child-width-expand" uk-tab>
                                <li class="uk-active"><a href="#">Justify</a></li>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Item</a></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    
    <!--  <form method="post">
    {% csrf_token %}
    <div class="login-form">
        <h1>Mushroom Box</h1>

        <input type="hidden" name="next" value="{{ next }}" />
        <p>
            <div class="form-group ">
                {{boxform.name}}
            </div>
            <div class="form-group ">
                   {{ boxform.profile }} {% for x in boxform.choices %} {{x}} {% endfor %}
              
            </div>
      
        </p>
        <button type="submit" class="log-btn">Create box</button>
        <br><br>
        
    </div>
</form> -->
</div>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}