{% extends 'base2.html' %}{% block content %}
<!-- {% load static %} -->
<div class="navigation">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header nav_2">
                <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/mushroom/" class="act">Home</a></li>
                    <li><a href="/mushroom/mybox/">My Box</a></li>
                    <li><a href="/mushroom/add/">Add Box</a></li>
                     <li ><a href="/mushroom/buyproduct">Product</a></li>
                    <li class=""><a href="/mushroom/contact">Contact</a></li>
          
                </ul>
            </div>
        </nav>
    </div>
</div>
<div class="bghead ">
    <br>
    <br>
    <br>
    <!-- <h2 style="" class="thai_font-title">ก ล่ อ ง เ ห็ ด อั จ ฉ ริ ย ะ</h2> -->
    <h2 style="letter-spacing: 30px;" class="thai_font-title">กล่องเห็ดอัจฉริยะ</h2>
    <h3 style="text-align: center; color: white;" class="thai_font">เลี้ยงง่าย โตไว กำไรดี ควบคุมได้ด้วยตัวคุณ</h3>
    <button class="uk-button uk-button-primary uk-align-center uk-button-large" style="background-color: #2ecc71">Buy now</button>
    <!-- <a class="uk-button uk-button-default" href="">Link</a> -->
    <br>
    <br>
    <br>
</div>
</header>
<br>
<div class="container ">
    <div class="uk-section uk-section-default">
        <div class="uk-container">
            <h3 class="thai_font-title" style="color:black; text-align: left;">Smart Mushroom Box <label class="thai_font" style="color:#262626; font-size: 30px;">หรือ กล่องเห็ดอัจฉริยะ คืออะไร ? </label></h3>
            <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
                <div>
                    <p class="thai_font text">นวัตกรรมเพาะเห็ดแบบใหม่ ทำงานร่วมกันระหว่างระบบทำความเย็น (ตู้เย็น) <span class="thai_font text" style="color:#fc6c00;">ช่วยให้เห็ดถั่งเช่าโตไวขึ้น 18% ในเวลาเพียง 2 เดือนครึ่ง พร้อมคงรสชาติและสรรพคุณที่ครบถ้วน </span> </p>
                    <cite class="thai_font text"> “เห็ดถั่งเช่าสีทอง” ถือเป็นเห็ดสายพันธุ์หนึ่งที่มีสรรพคุณช่วยลดความเสี่ยงของโรคหลอดเลือดหัวใจและสมอง ตอบโจทย์กระแสรักสุขภาพได้เป็นอย่างดี จึงเป็นผลให้ปัจจุบันมีราคาต่อกิโลกรัมสูงถึง <span class="thai_font text" style="color:#2ecc71;">60,000 – 100,000 บาท</span> </cite>
                </div>
                <div>
                    <img class="uk-align-center uk-align-right@m uk-margin-remove-adjacent" src="{% static "images/box.jpg" %}" style="margin-top: -5%">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="uk-section uk-section-muted">
    <div class="container ">
        <div class="uk-container">
            <h3 class="thai_font-title" style="color:black; ">ทำไมถึงต้องซื้อ Smart Mushroom Box</h3>
            <div class="uk-grid-match uk-child-width-1-1@m" uk-grid>
                <div>
                    <div class="uk-child-width-1-5@m uk-child-width-1-2@s" uk-grid>
                        <div>
                            <div>
                                <img class="uk-align-center  uk-margin-remove-adjacent img-logo" src="{% static "images/planticon.png" %}">
                                <p class="thai_font text-center">ใช้เวลาในการเพาะแค่ 60-75 วัน</p>
                            </div>
                        </div>
                        <div>
                            <div>
                                <img class="uk-align-center  uk-margin-remove-adjacent img-logo" src="{% static "images/moneyicon.png" %}">
                                <p class="thai_font text-center">กำไรถึง 2,000 บาทต่อรอบ</p>
                            </div>
                        </div>
                        <div>
                            <div>
                                <img class="uk-align-center  uk-margin-remove-adjacent img-logo" src="{% static "images/growthicon.png" %}">
                                <p class="thai_font text-center">โตเร็วกว่าปกติถึง 18 %</p>
                            </div>
                        </div>
                        <div>
                            <img class="uk-align-center  uk-margin-remove-adjacent img-logo" src="{% static "images/noicon.png" %}" >
                            <p class="thai_font text-center">ไม่ต้องจ้างแรงงาน</p>
                        </div>
                        <div>
                            <img class="uk-align-center  uk-margin-remove-adjacent img-logo" src="{% static "images/wifiicon.png" %}" >
                            <p class="thai_font text-center">ควบคุมได้ทุกเมื่อ เพียงแค่มีอินเตอร์เน็ต</p>
                        </div>
                    </div>
                </div>
                <br>
                <div>
                 <h4 class="thai_font uk-align-right" style="font-size: 40px; color:black; ">บริการเว็บไซต์ควบคุมการเพาะเห็ดถังเช่าด้วยตัวคุณ</h4>
                      <div class="uk-child-width-1-2@m uk-child-width-1-2@s " uk-grid>

                          <div>
                               <img class="uk-align-center  uk-margin-remove-adjacent img-logo" src="{% static "images/eicon.png" %}" style="margin-top: -15%;">
                          </div>
                          <div>
                              <ul class="uk-list uk-list-bullet">
                                <li class="thai_font text2">เว็บไซต์รองรับทุกระบบปฏิบัติการณ์ ทั้งโทรศัพท์มือถือ แทปแล็ต หรือพีซี</li>
                                <li class="thai_font text2">คุณสามารถเลือกโปรแกรมการเพาะเห็ดถังเช่าที่ดีที่สุด</li>
                                <li class="thai_font text2">คุณสามารถปรับเปลี่ยนการตั้งค่าของโปรแกรมด้วยตัวคุณเอง ทั้งอุนหภูมิ แสง หรือความชื้น</li>
                                <li class="thai_font text2">คุณสามารถเช็คสถานะ อุนหภูมิ แสง หรือความชื้น ได้ทุกเมื่อ เพียงแค่เชื่อมต่ออินเตอร์เน็ต อัพเดทแบบเรียลไทม์</li>
                          
                            </ul>
 <button class="uk-button uk-button-primary uk-align-center uk-button-large" style="background-color: #2ecc71">Buy now</button>
                          </div>

                      </div>

                </div>
            
            </div>
        </div>
    </div>
</div>
<div class="uk-section uk-section-default">
    <div class="uk-container">
            <h3 class="thai_font-title" style="color:black; text-align: center;">การันตีโตไวกว่าเดิมแน่นอน</h3>
            <div class="uk-grid-match uk-child-width-1-1@m" uk-grid>
                 <div>
                    <div class="uk-child-width-1-3@m uk-child-width-1-2@s""  uk-grid>
                            <div>
                                <img class="uk-align-center uk-align-right@m uk-margin-remove-adjacent" src="{% static "images/box2.jpg" %}">
                            </div>
                              <div>
                                <img class="uk-align-center uk-align-right@m uk-margin-remove-adjacent" src="{% static "images/box5.jpg" %}" >
                            </div>
                            <div>
                                <img class="uk-align-center uk-align-right@m uk-margin-remove-adjacent" src="{% static "images/mushroom.jpg" %}">
                            </div>

                        </div>
               

                <h3 class="thai_font" style="color:black; text-align: left;">รายละเอียดเพิ่มเติมติดต่อ</h3>

       
                <dl class="uk-description-list" style="margin-top: -1%;">

                    <dd> คณะวิทยาศาสตร์และเทคโนโลยี มธ.ศูนย์รังสิต สาขาวิทยาการคอมพิวเตอร์ 02-986-9156</dd>
                    <!-- <dt>Description term</dt> -->
                    <dd>คณะวิทยาศาสตร์และเทคโนโลยี มธ.ศูนย์รังสิต 02-564-4440-59 ต่อ 2010</dd>
                    <dd>www.sci.tu.ac.th</dd>
                </dl>
                 
             <div class="uk-child-width-1-3@s uk-child-width-1-4@m "  uk-grid>
                 <div>
                      <a href="https://www.thairath.co.th/content/977820"><img class="uk-align-centeruk-margin-remove-adjacent img-logo-new" src="{% static "images/logo1.png" %}"  ></a>

                 </div>
                 <div>
                      <a href="http://www.komchadluek.net/news/economic/283178"><img class="img-logo-news uk-margin-remove-adjacent" src="{% static "images/logo2.png" %}" ></a>

                 </div>
                  <div>
                      <a href="https://www.sentangsedtee.com/career-channel/article_36531"><img class="img-logo-news uk-margin-remove-adjacent" src="{% static "images/logo3.png" %}" ></a>

                 </div>
                   <div>
                      <a href="http://www.thansettakij.com/content/164989"><img class="img-logo-news uk-margin-remove-adjacent" src="{% static "images/logo4.png" %}" ></a>

                 </div>
                   <div>
                      <a href="https://blog.eduzones.com/moobo/184230"><img class="img-logo-news uk-margin-remove-adjacent" src="{% static "images/logo5.png" %}" ></a>

                 </div>
                  <div>
                      <a href="http://www.xn--72cfa1hey3b0dtji.com/content/13379"><img class="img-logo-news uk-margin-remove-adjacent" src="{% static "images/logo6.png" %}" ></a>

                 </div>
                  <div>
                      <a href="http://www.smethailandclub.com/technology-1906-id.html"><img class="img-logo-news uk-margin-remove-adjacent" src="{% static "images/logo7.png" %}" ></a>

                 </div>
             </div>
 </div>
        </div>

</div>

   

{% endblock %} {% block script %}
<script type="text/javascript">
UIkit.on('beforeready.uk.dom', function() {

    console.log("ready!");
    alert("sdffs");
});
// $(function() {


//     console.log("reqdt");
//     console.log("ready!");
//     $('#profile').change(function() {
//         console.log("sdfsdf");
//         alert(('#profile').val());
//         if ($('#profile').val() == 'profile A') { $('#a').show(); } else if ($('#type').val() == 'profile B') { $('#row_dim').hide(); } else if ($('#type').val() == 'profile C') {} else if ($('#type').val() == 'profile D') {}
//     });
// });
</script>
{% endblock script %}