{% extends 'base2.html' %} {% load static %} {% block content %}
<div class="navigation">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header nav_2">
                <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                <ul class="nav navbar-nav">
                    <li><a href="index.html" class="act">Home</a></li>
                    <li class="active"><a href="about.html">My Box</a></li>
                    <li><a href="short-codes.html">Add Box</a></li>
                    <li><a href="mail.html">Product</a></li>
                    <li><a href="mail.html">Contact</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
</header>
<div class="bghead ">
    <br>
    <!-- <h2 style="" class="thai_font-title">ก ล่ อ ง เ ห็ ด อั จ ฉ ริ ย ะ</h2> -->
    <h2 style="letter-spacing: 30px;" class="thai_font-title">กล่องเห็ดอัจฉริยะ</h2>
    <h3 style="text-align: center; color: white;" class="thai_font">เช็คสถานะ และแก้ไขกล่องเห็ดของคุณได้ที่นี่ </h3>
    <br>
</div>

<br>
<div class="container">
    <!-- <div class="uk-child-width-1-2@m uk-grid-match" uk-grid> -->
       
      
<div class="uk-column-1-1@s uk-column-1-2@m uk-column-1-2@l">
    <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <h3 class="uk-card-title">Default</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
        </div>
        <br>
        <div >
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <h3 class="uk-card-title">Default</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
        </div>   <br>
         <div >
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <h3 class="uk-card-title">Default</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
        </div>
</div>
      
    <!-- </div> -->
</div>

{% endblock %}