{% extends 'base2.html' %} {% load static %} {% block content %}{% load widget_tweaks %}
<div class="navigation">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header nav_2">
                <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                <ul class="nav navbar-nav">
                    <li><a href="/mushroom/" class="act">Home</a></li>
                    <li><a href="/mushroom/mybox/">My Box</a></li>
                    <li><a href="/mushroom/add/">Add Box</a></li>
                    <li><a href="/mushroom/buyproduct">Product</a></li>
                    <li><a href="/mushroom/contact">Contact</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<div class="bghead ">
    <br>
    <!-- <h2 style="" class="thai_font-title">ก ล่ อ ง เ ห็ ด อั จ ฉ ริ ย ะ</h2> -->
    <h2 style="letter-spacing: 30px;" class="thai_font-title">กล่องเห็ดอัจฉริยะ</h2>
    <h3 style="text-align: center; color: white;" class="thai_font">เปลี่ยน Password</h3>
    <br>
</div>
</header>
<div class="uk-background-muted">
    <div class="container uk-width-1-1@s uk-width-1-2@m uk-width-1-3@l ">
        <form method="post">
            {% csrf_token %}
            <div class="uk-card uk-card-default  uk-align-center">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle uk-text-center" uk-grid>
                        <!-- <div class="uk-align-center"> -->
                        <h3 class="uk-card-title uk-margin-remove-bottom thai_font ">เปลี่ยน Password</h3>
                        <!-- </div> -->
                    </div>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="uk-card-body">
                       
                            <div class="uk-margin">
                                <label class="uk-form-label thai_font" for="form-stacked-text">Password เก่า</label>
                                <div class="uk-form-controls">
                      
                                    {{ form.old_password | add_class:"uk-input"  }}
                                </div>
                            </div>

                             <div class="uk-margin">
                                <label class="uk-form-label thai_font" for="form-stacked-text">Password ใหม่</label>
                                <div class="uk-form-controls">
                      
                                    {{ form.new_password1 | add_class:"uk-input"  }}
                                </div>
                            </div>

                             <div class="uk-margin">
                                <label class="uk-form-label thai_font" for="form-stacked-text">ยืนยัน Password ใหม่</label>
                                <div class="uk-form-controls">
                      
                                    {{ form.new_password2 | add_class:"uk-input"  }}

                                     {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                      
                                </div>
                            </div>
                
                    </div>
                    <div class="uk-card-footer">
                        <button class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom" type="submit">Save changes</button>
                    </div>
                </form>
            </div>
        </form>
    </div>
</div>
{% endblock %}